#home{
    height: 500px;
    width: 100%;
    display: flex;
    background-image: url(./assets/img/coffee_logo.png);
    image-rendering: auto;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center;
}