#home{
    min-height: 400px;
    width: 100%;
    display: flex;
    background-image: url(./assets/img/coffee_bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 20% center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#intro-txt{
    color: snow;
    text-shadow: 3px 3px 5px #000000;
}

#order-btn{
    width: 150px;
    padding: 10px;
    align-items: center;
    border: 2px solid snow;
    border-radius: 30px;
    color: snow;
}

#order-btn:hover{
    background-color: whitesmoke;
    color: gray;
    transition: 0.5s;
}


.hevan-img{
    height: 300px;
    background-size: contain;
    background-position: center;
    border-radius: 20px;
}

.hevan-img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

#sell{
    min-height: 500px;
    width: 100%;
    background-image: url(./assets/img/coffee_beans.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: snow;
    text-shadow: 1px 1px 3px gray;
    gap: 20px;
}

#cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

#card-details:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#card-img{
    height: 300px;
    background-size: cover;
    padding: 40px;
    transition: 0.5s;
    cursor: pointer;
}

#coffee{
    min-height: 400px;
    width: 100%;
    background-image: url(./assets/img/coffee_bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: snow;
    text-shadow: 1px 1px 3px gray;

}

.card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#coffee-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    margin-top: 5px;
    background-image: url(./assets/img/coffee_cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#dessert {
    min-height: 400px;
    width: 100%;
    /* background-color: aqua; */
    background-image: url(./assets/img/coffee_bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: snow;
    text-shadow: 1px 1px 3px gray;

}

#dessert-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    margin-top: 5px;
    background-image: url(./assets/img/download3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#coffee-history{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    color: snow;
    text-shadow: 1px 1px 3px gray;
}

#make-coffee{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}